@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background-color: white;
}

.grey {
    top: 0;
    position: fixed;
    width: 100%;
    height: 4vmax;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5vh;
    font-weight: 400;
    text-align: right;
    line-height: 18px;
    color: #333333;
    background-color: #666666;
    border-bottom: 5px;
    border-bottom-color: white;
}

.grey img {
    position: relative;
    justify-items: center;
    margin-right: 5vmax;
    width: 3vmin;
    height: 3vmin;
}

.black {
    margin-top: 5.9em;
    width: 100%;
    height: 4vmax;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #ffffff;
    background-color: #000000;
    border-bottom: 2vh;
    border-bottom-color: white;
}



.unete {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1.75vh;
    position: relative;
    animation-name: unete;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes unete{

    0%{
        left: 0%;
    }
    50%{
        left: 8%;
    }

    100%{
        left:0%;
    }
}


/*Botones*/

.black .sesion {
    width: 106px;
    height: 3.5vh;
    line-height: 3.5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #030303;
    background-color: #6ACA6B;
    background-repeat: repeat;
    background-position: left top;
    border: 2px solid #FFFFFF;
    border-radius: 19px;
}

.black .registro {
    width: 106px;
    height: 3.5vh;
    line-height: 3.5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    background-color: #333333;
    background-repeat: repeat;
    background-position: left top;
    border: 2px solid #FFFFFF;
    border-radius: 19px;
}

input .text .password {
    width: 143px;
    height: 23px;
    font-family: 'Roboto-Regular';
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #C8C8C8;
    border-radius: 6px;
    padding-left: 5px;
}
/*CODIGO PUESTO JAVI*/
.slider{
        
    margin:auto;
    margin-top:-0.5%;
    overflow: hidden;
    
}
.slider ul{
    display: flex;
    padding:0em;
    width: 400%;
    animation:cambioImagen 20s infinite alternate;
}

.slider li{
    list-style: none;
    width: 100%;
}
@keyframes cambioImagen{
    0%{margin-left: 0%;}
    20%{margin-left:0%;}

    25%{margin-left:-100%;}
    45%{margin-left:-100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left:-300%;}
}